<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
<h1>Se connecter</h1>

<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert"
     th:if="${param.error}">
    <span class="block sm:inline">Invalid username and password.</span>
</div>

<form class="space-y-8 text-sm text-black font-medium" method="post" th:action="@{/auth/sign-in}" th:object="${user}">
    <!-- Email -->
    <div>
        <label for="email">Adresse mail</label>
        <input autofocus=""
               class="w-full rounded-lg bg-transparent shadow-sm border-slate-200"
               id="email" name="username" placeholder="E-mail" required="" th:field="*{username}">
    </div>

    <!-- Password -->
    <div>
        <label for="password">Mot de passe</label>
        <input class="w-full rounded-lg bg-transparent shadow-sm border-slate-200"
               id="password" name="password" placeholder="********" th:field="*{password}"
               type="password">
    </div>

    <div>
        <button class="button bg-primary text-white w-full" type="submit">Connexion</button>
    </div>
</form>
</body>
</html>