<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Register</h1>
<form method="post" th:action="@{/auth/sign-up}" th:object="${user}">
    <!-- First name -->
    <div>
        <label class="" for="firstName">Prénom</label>
        <div class="mt-2.5">
            <input id="firstName" name="firstName" th:field="*{firstName}" type="text">
        </div>
    </div>

    <!-- Address -->
    <div>
        <label class="" for="address">Nom</label>
        <div class="mt-2.5">
            <input id="address" name="address" th:field="*{address}" type="text">
        </div>
    </div>

    <!-- Phone -->
    <div>
        <label class="" for="phone">Nom</label>
        <div class="mt-2.5">
            <input id="phone" name="phone" th:field="*{phone}" type="text">
        </div>
    </div>

    <!-- Last name -->
    <div>
        <label class="" for="lastName">Nom</label>
        <div class="mt-2.5">
            <input id="lastName" name="lastName" th:field="*{lastName}" type="text">
        </div>
    </div>

    <!-- Email -->
    <div>
        <label class="" for="email">Email</label>
        <div class="mt-2.5">
            <input id="email" name="email" th:field="*{email}" type="text">
        </div>
    </div>

    <!-- Password -->
    <div>
        <label class="" for="password">Password</label>
        <div class="mt-2.5">
            <input id="password" name="password" placeholder="********" th:field="*{password}" type="password">
        </div>
    </div>

    <div>
        <button class="bg-amber-500 text-white w-full font-medium" type="submit">Créer</button>
    </div>
</form>
</body>
</html>